.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 30px;
  margin-bottom: 40px;
  text-align: left;
  border: 1px solid #000;
  box-sizing: border-box;
}

.button {
  width: 130px;
  margin: 20px auto;
  background-color: #f1efef;
  border: 1px solid #262626;
  transition: all 0.3s ease-in;
}

.button:hover {
  border-color: #262626;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}

.input {
  display: block;
  box-sizing: border-box;
  height: 30px;
}

.input + label {
  margin-top: 20px;
}

.errorMessage {
  color: #ff0000;
}
